
server {
        listen 80;
        root {{site_page}};
        index index.html index.php;
        server_name localhost;
        location / {
	 index index.html index.php;
        }            
}


